sentence-transformers==2.2.2 #because we are using open source embedding model to generate the vector embedding
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .